<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tripForm</title>
    <link rel="stylesheet" href="../header.css">
    <script src="page8.js"></script>
</head>
<body>

<div class="nav">
    <a class="active" href="../navigationPge/page4.html">Home</a>
    <a href="../tripForm/page5.html">Trip Form</a>
    <a href="../availableTrips/page6.html">New trips</a>
    <a href="../requests/page8.html">My requests</a>
    <a href="../myTrips/page7.html">My trips</a>
</div>

<header>MY REQUESTS</header>
<div class="flex-parent1" id="input1">
    <div class="row1">
        <text>Trip Date:</text>
        <uns>11/22/2022</uns>
        <text>Hours:</text>
        <uns>7-8am</uns>
    </div>
    <div class="rows">
        <text>Name:</text>
        <uns>Hila</uns>
        <text>Age:</text>
        <uns>21</uns>
        <text>Phone:</text>
        <uns>365</uns>
    </div>
    <div class="rows">
        <text>About me:</text>
        <uns>I have alot experience with dogs.</uns>
    </div>

    <div class="choose">
        <img class="button" src="../../Extras/approve.png"
             onmousemove="this.src='../../Extras/approvepres.png'"
             onmouseleave="this.src='../../Extras/approve.png'"
             onclick="Approved1()">
        <img class="button" src="../../Extras/dismiss.png"
             onmousemove="this.src='../../Extras/dismisspres.png'"
             onmouseleave="this.src='../../Extras/dismiss.png'"
             onclick="Dismissed1()">
    </div>
</div>
<div class="flex-parent2" id="input2">
    <div class="row1">
        <text>Trip Date:</text>
        <uns>11/16/2022</uns>
        <text>Hours:</text>
        <uns> 2-3pm</uns>
    </div>
    <div class="rows">
        <text>Name:</text>
        <uns>Adi</uns>
        <text>Age:</text>
        <uns>25</uns>
        <text>Phone:</text>
        <uns>123</uns>
    </div>
    <div class="rows">
        <text>About Me:</text>
        <uns>I very like dogs ang enjoy their company.</uns>
    </div>
    <div class="choose">
        <img class="button" src="../../Extras/approve.png"
             onmousemove="this.src='../../Extras/approvepres.png'"
             onmouseleave="this.src='../../Extras/approve.png'" onclick="Approved2()">
        <img class="button" src="../../Extras/dismiss.png"
             onmousemove="this.src='../../Extras/dismisspres.png'"
             onmouseleave="this.src='../../Extras/dismiss.png'" onclick="Dismissed2()">
    </div>
</div>
</body>
</html>