<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>tripForm</title>
    <link rel="stylesheet" href="../header.css">
    <script src="page7.js"></script>

</head>
<body>

<div class="nav">
    <a class="active" href="../navigationPge/page4.html">Home</a>
    <a href="../tripForm/page5.html">Trip Form</a>
    <a href="../availableTrips/page6.html">New trips</a>
    <a href="../requests/page8.html">My requests</a>
    <a href="../myTrips/page7.html">My trips</a>
</div>

<header>MY TRIPS</header>
<div class="flex-parent-element" id="txt">
    <div class="flex-child-element1">
        <div class="choop"><img class="dog2" src="../../Extras/choop.png"></div>
    </div>
    <div class="flex-child-element2">
        <div class="row1">
            <text>Date:</text><uns> 12/5/2022</uns>
            <text>Hours: </text><uns>8-9pm</uns>
            <text>Dog Name:</text><uns> Choop</uns>
        </div>
        <div class="rows">
            <text>Trip Price:</text><uns>12$</uns>
            <text>Owner Name:</text> <uns>Shahar</uns>
            <text>Phone: </text><uns>111</uns>
        </div>
        <div class="rows">
            <text>Address:</text>
            <uns> Ben Yehuda 20 Beer Sheva</uns>
        </div>
        <div class="rows">
            <text>Description:</text> <uns>My Choop is very lazy and tends to sleep alot.</uns>
        </div>
        <div class="choose">
            <img class="button" src="../../Extras/canceltrip.png"
             onmousemove="this.src='../../Extras/cancelpres.png'"
             onmouseleave="this.src='../../Extras/canceltrip.png'"
             onclick="toggleText()">
        </div>
    </div>

</body>
</html>