* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff4f1;
}

/*dogs*/
.logo {
    padding-top: 75px;
    text-align: center;
}

.dog {
    width: 150px;
    height: 150px;
}

.dog-container {
    display: flex;
    justify-content: flex-end;
}

.lola {
    margin-top: 40px;
}

.rexi {
    padding-top: 120px;
}

.choop {
    margin-top: 60px;
}

.dog1 {
    width: 100px;
    height: 130px;
}

.dog2 {
    width: 100px;
    height: 100px;
}

/*form*/
.my-form {
    display: flex;
    margin: 50px;
    justify-content: space-evenly;
}

.my-form input {
    background: transparent;
    color: black;
    border: 3px solid black;
    width: 180px;
    border-radius: 10px;
    margin: 5px;
}

.my-form input:active {
    border: 3px solid white;
}

.my-form textarea {
    background: transparent;
    color: black;
    border: 3px solid black;
    width: 300px;
    border-radius: 10px;
    height: 100px;
    margin: 5px;
}

.form-group {
    width: 500px;
}

.groupLI {
    width: 500px;
    text-align: center;
    padding-top: 10px;
}

.group {
    width: 250px;
}

/*text*/
header {
    padding-top: 60px;
    color: black;
    text-align: center;
    font-size: 40px;
}

label {
    margin: 10px;
    color: black;
    text-align: center;
    font-size: 15px;
}

text {
    color: black;
    text-align: right;
    font-weight: bold;
    font-size: 15px;
}

/*display image*/
.row1 {
    display: flex;
    margin-top: 60px;
    text-indent: 40px;
}

.rows {
    display: flex;
    margin-top: 10px;
    text-indent: 40px;
}

/*buttons*/
button{
    background-color: transparent;
    border: none;
}

.button {
    padding-top: 30px;
    width: 150px;
    height: 40px;
}

.button:hover {
    animation: anbutton 1s 0s ease-in-out infinite;
}


@keyframes anbutton {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


.firstbutton {
    padding-top: 80px;
    width: 150px;
    height: 40px;
}

.firstbutton:hover {
    animation-duration: 0.2s;
    width: 170px;
}

.buttons {
    text-align: center;
}


.choose {
    text-indent: 120px;
}

.showtrips {
    text-indent: 60px;
}

a {
    text-decoration: none;
}

/*navigation bar*/
.nav a.active {
    background-color: rgba(183, 117, 107, 0.91);
    color: white;
}

.nav {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 47px;
    display: flex;
    align-items: center;
}

.nav * {
    display: inline;
}

.nav a {
    padding: 14px 16px;
    color: #ddd;
    text-decoration: none;
    transition: font-size 0.2s ease-out;
    font-family: Tahoma

}

.nav a:hover {
    background-color: #ddd;
    color: black;
    font-size: 20px;
}



